// regular buttons
.btn{
    color: $white;
    border: 1px solid transparent;
    background-color: $primary;
    &.active,
    &:active {
        color: $white;
        background-color: color-level($primary, 4);
    }
    &:hover,
    &:focus {
        color: $white;
        background-color: color-level($primary, 4);
        border-color: color-level($primary, 4);
    }
    &.disabled,
    &:disabled {
        color: $white;
        opacity: 0.7;
        background-color: color-level($primary, 4);
    }
}
.btn-full{
  width: 100%;
}
// mixin
@mixin button-normal($color, $textColor, $hoverColor, $hoverTextColor) {
    color: $textColor;
    // border: 1px solid $color;
    border: 1px solid transparent;
    background-color: $color;
    &.active,
    &:active {
        color: $hoverTextColor;
        background-color: $hoverColor;
    }
    &:hover,
    &:focus {
        color: $hoverTextColor;
        background-color: $hoverColor;
        border-color: $hoverColor;
    }
    &.disabled,
    &:disabled {
        color: $hoverTextColor;
        opacity: 0.7;
        background-color: $hoverColor;
    }
}

// alternative colors
@each $color, $value in $theme-colors {
  // .btn-#{""+$color} {
  //   @include button-normal($value, color-level($value, 4));
  // }
  @if $value == $white {
    .btn-white {
      // here $value = $white 
      @include button-normal($value, $primary, color-level($value, 2), $primary);
    }
  } @else {
    .btn-#{""+$color} {
      @include button-normal($value, $white, color-level($value, 4), $white);
    }
  }
}

// outlined button
@each $color, $value in $theme-colors {
  @if $value == $white {
    .btn-outline-white {
      // @include button-outline($value, $primary);
      @include button-outline($value, transparentize($white, 0.5), 'true');
    }
  } @else {
    .btn-outline-#{""+$color} {
      @include button-outline($value, color-level($value, 4));
    }
  }
}

// material button
@each $color, $value in $theme-colors {
  @if $value == $white {
    .btn-material-white {
      // @include button-outline($value, $primary);
      @include button-material($value, $primary, color-level($primary, 4));
    }
  } @else {
    .btn-material-#{""+$color} {
      @include button-material($white, transparent, color-level($value, 4));
    }
  }
}