// price table alpha
// default layout
.price-item{
    border-radius: 0.3rem;
    background: $white;
    ul{
        list-style: none;
    }
    ul li{
        list-style: none !important;
    }
    .item-name{
        text-align: center;
        font-size: 1.5rem;
        padding: 8px 16px;
        color: $primary;
        font-weight: bold;
    }
    .item-price{
        background: $primary;
        color: $white;
        padding: 4px 16px;
        font-size: 1.5rem;
        // margin-left: 8px;
        // margin-right: 8px;
        // border-left: 4px solid $white;
        // border-right: 4px solid $white;
    }
    .item-features{
        padding: 16px 32px;
        text-align: left;
        opacity: 1;
        li{
            margin-top: 0.25rem;
            margin-bottom: 0.25rem;
            color: $black;
            position: relative;
            .icon{
                margin-right: 8px;
            }
            &.ok{
                .icon{
                    color: $primary;
                }
            }
            &.diseabled{
                color: $gray;
            }
        }
        &.icon-left{
            li .icon{
                position: absolute;
                left: 0;
                top: 0.3rem;
            }
        }
    }
    .item-footer{
        background: rgba(0, 0, 0, 0.04);
        padding: 8px 16px;
    }
    &.featured{
        background: $primary;
        .item-name{
            color: $white;
        }
        .item-price{
            background: $white;
            color: $primary;
        }
        .item-features{
            li{
                color: $white;
                &.ok{
                    .icon{
                        color: $white;
                    }
                }
                &.diseabled{
                    color: transparentize($white, 0.5);
                }
            }
        }
        .item-footer{
            background: transparentize($white, 0.3);
            padding: 8px 16px;
        }
    }
    &.shadow{
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15), 0 0 40px rgba(0, 0, 0, 0.1);
    }
}

// mixin
@mixin price-item($color) {
    .item-name{
        color: $color;
    }
    .item-price{
        background: $color;
    }
    .item-features{
        li{
            &.ok{
                .icon{
                    color: $color;
                }
            }
        }
    }
    &.featured{
        background: $color;
        .item-name{
            color: $white;
        }
        .item-price{
            color: $color;
            background: $white;
        }
        .item-features{
            li{
                &.ok{
                    .icon{
                        color: $white;
                    }
                }
            }
        }
    }
}

// alternative colors
@each $color, $value in $theme-colors {
  @if $value == $white {
    .price-item.price-item-white {
      @include price-item($black);
    }
  } @else {
    .price-item.price-item-#{""+$color} {
      @include price-item($value);
    }
  }
}