// section of page
/* 5.1 Default layout settings */
@import "section/section-default";

/* 5.2 Home section layout */
@import "section/section-home";

/* 5.3 Section list / .section-list */
@import "section/section-list";
@import "section/section-grid";
@import "section/section-two-side";
@import "section/section-footer";
