// picture card material

// default layout
.card-picture-material{
    border: none;
    background: $black;
    overflow: hidden;
    position: relative;
    
    .card-img-top {
        overflow: hidden;
        position: relative;
        img {
            width: 100%;
        }
    }
    .card-block {
        position: absolute;
        $margin: 16px;
        top: auto;
        left: $margin;
        right: $margin;
        padding-bottom: $margin;
        bottom: 72px;
        background: none;
        color: $white;
        p,
        ul {
            // color: $blockTextColor;
            margin: 0;
            .text-muted {
                color: inherit !important;
                opacity: 0.75;
            }
        }
        h4,
        .card-title {
            font-size: $text-xxlarge;
            margin-bottom: 0;
        }
    }
    .price {
        color: $white;
        font-size: $text-xlarge;
        line-height: 1;
    }
    .card-footer {
        color: $white;
        background: $primary;
        padding-top: 0.75rem;
        border: none;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
    &.shadow {
        border: none;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15), 0 0 10px rgba(0, 0, 0, 0.2);
        .card-footer {
            border: none;
        }
    }
}

// mixin
@mixin card-picture-material($color: $white, $footerBg: $primary, $footerText:$white) {
    .card-block {
        color: $color;
    }
    .price {
        color: $color;
    }
    .card-footer {
        color: $footerText;
        background: $footerBg;
    }
}

// alternative colors
@each $color,
$value in $theme-colors {
    @if $value==$white {
        .card-picture-material.card-white {
            // here $value = $white 
            @include card-picture-material($white, $white, $black)
        }
    }
    @else {
        .card-picture-material.card-#{""+$color} {
            @include card-picture-material($white, $value, $white)
        }
    }
}
